.container {
    height: 650px;
    width: 400px;
    background-color: whitesmoke;
    
    text-align: center;
    align-items: center;
    position: relative;
    
    
    
    
}
.form{
    margin: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    
}

.fundo{
    background-color: whitesmoke;
    
}

.value {
    height: 200px;
    width: 389px;
    border-radius: 20px;
    background-color: transparent;
    font-size: xx-large;
    text-align: end;
    border: transparent;
    color: rgb(34, 33, 33);
    
    
}
.botao {
    height: 80px;
    width: 80px;
    border-radius: 30px;
    background-color: white;
    border: whitesmoke;
    box-shadow: black 80px, black 80px;
    font-size: larger;
    }
    
    

.botao2 {
    height: 80px;
    width: 80px;
    border-radius: 30px;
    background-color: rgb(13, 211, 56);
    color: rgb(255, 255, 255);
    border: whitesmoke;
    box-shadow: black 80px, black 80px;
    font-size: larger;
    

}
.botao3 {
    height: 80px;
    width: 165px;
    border-radius: 30px;
    background-color: rgba(255, 5, 5, 0.199);
    color: rgb(224, 35, 35);
    font-size: larger;
    border: whitesmoke;
    

}
.botao4 {
    height: 80px;
    width: 80px;
    border-radius: 30%;
    background-color: rgb(211, 148, 32);
    color: brown;
    border: whitesmoke;
    box-shadow: black 80px, black 80px;
    font-size: larger;
}
‎

